APP_ADDRESS=0.0.0.0
APP_PORT=8081

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USERNAME=reihan
DATABASE_PASSWORD=password
DATABASE_NAME=kilas_admin_db

ACCESS_TOKEN_SECRET=change_me_to_a_long_random_secret

ADMIN_SEED_NAME=Sekilas
ADMIN_SEED_EMAIL=sekilas@kilas.my.id
ADMIN_SEED_PASSWORD=admin12345
